

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// end reset

a.button {
	display:block;
	background:#64b64f;
	padding:15px;
	margin:10px 0;
	color: #fff;
	text-decoration:none;
	text-align:center;
	border-radius:10px;
}

h1 {
	font-size: 28px;
	margin: 10px 0 10px;
}

h2 {
	font-size: 24px;
	margin: 0 0px 10px;
}

h3 {
	font-size:18px;
	margin-bottom:0px;
}

div.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

div.userHeader {
	margin-bottom:15px;
}

div.userHeader h1 {
	float:left;
}

p.logout {
	float: right;
	a {
		background: #ccc;
		padding: 10px 15px;
		display: block;
		text-decoration:none;
	}
}

div.documents, div.document {
	float: left;
	width: 400px;
	display:block;
	a {
		display:block;
		margin:10px 0;
	}
}

div.licences {
	float: right;
	width: 400px;
}

div.userHeader {
	border-bottom: 1px solid #000;
	overflow:hidden;
}

div.licenceForm, div.documentForm, div.userForm {
	display: block;
	width: 100%;
	float:left;
	form label, form input{
		display: block;
		margin-bottom:5px;
	}
}

ul.document li {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #444;
}



